<%= form_for(oh_time_slot) do |f| %>
  <% if oh_time_slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oh_time_slot.errors.count, "error") %> prohibited this oh_time_slot from being saved:</h2>

      <ul>
      <% oh_time_slot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
