<p id="notice"><%= notice %></p>

<h1 class="welcome-banner text-center">Institutions</h1>
<hr width="50%">

<table class="table table-hover" style="width:50%;margin:auto">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @institutions.each do |institution| %>
      <tr>
        <td><%= institution.id %></td>
        <td><%= link_to institution.name, institution %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr width="50%">
<div style="width:50%;margin:auto">
  <%= link_to 'New Institution', new_institution_path, class: 'btn btn-primary' %>
</div>
