<table class="table table-hover">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Semester</th>
      <th># Enrolled Students</th>
      <th># Instructors</th>
    </tr>
  </thead>
  <tbody>
    <% courses.each do |course|  %>
      <tr>
        <td><%= link_to course.name, course %></td>
        <td><%= course.semester %></td>
        <td><%= course.students.length %></td>
        <td><%= course.instructors.length %></td>
      </tr>
    <% end %>
  </tbody>
</table>
