<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @course.institution.name %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @course.semester %>
</p>
