<h1 class="welcome-banner text-center">Welcome to Matthqueue!</h1>
<center>
  <%= link_to 'Sign Up', login_path, class: 'btn btn-info' %>
  <%= link_to 'Sign In', new_account_path, class: 'btn btn-info' %>
  <hr width="50%">
  <%= link_to 'Register Institution', new_institution_path, class: 'btn btn-info' %>
</center>
