<% if defined?(@error) %>
  <div class="panel panel-danger">
    <div class="panel-heading">Problem Creating Account</div>
    <div class="panel-body"><%= @error %></div>
  </div>
<% end %>

<h1 class="welcome-banner text-center">New Account</h1>
<hr width="50%">
<center>
  <%= render 'form', account: @account %>
</center>
