<% if defined?(@error) %>
  <div class="panel panel-danger">
    <div class="panel-heading">Problem Creating Account</div>
    <div class="panel-body"><%= @error %></div>
  </div>
<% end %>

<h1 class="welcome-banner text-center">New Account</h1>
<hr width="50%">
<center>
  <%= render 'form', account: @account %>
</center>


<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript">
  $(function() {
    var institutions = "<%= @institutions.join(',') %>".split(',');
    $("#institution_name").autocomplete({
      source: institutions
    });
  });
</script>
